<div class="ui segment">
    <div class="ui two column divided stackable grid">
        <div class="column" id="sylius-shipping-address">
            <div class="ui small dividing header">{{ 'sylius.ui.shipping_address'|trans }}</div>
            {% if order.shippingAddress %}
                {% include '@SyliusShop/Common/_address.html.twig' with {'address': order.shippingAddress} %}
            {% else %}
                {{ order.customer.email }}
            {% endif %}
        </div>
    </div>
</div>
