{% if product.product is defined %}
    {% set product = product.product %}
{% endif %}
{% if product.imagesByType('main') is not empty %}
    {% set path = product.imagesByType('main').first.path|imagine_filter(filter|default('sylius_shop_product_thumbnail')) %}
{% elseif product.images.first %}
    {% set path = product.images.first.path|imagine_filter(filter|default('sylius_shop_product_thumbnail')) %}
{% else %}
    {% set path = '//placehold.it/200x260' %}
{% endif %}

<div style="display: inline-block; width: auto; margin: 0 auto; position: relative">
    {% if product.variants|length > 1 %}
        <a class="ui teal right corner label" title="Есть электронный вариант">
            <i class="download icon"></i>
        </a>
    {% endif %}
    <img style="max-height: 260px" src="{{ path|replace({'http:': 'http:'}) }}" alt="{{ product.name }}" class="ui bordered image"/>
</div>
