<style>
.sfi-logo {
    width: 250px;
}
.fixed .sfi-logo {
    width: 100px;
}
@media screen and (max-width: 768px) {
    .top-header {
        left: 0 !important;
        right: 0 !important;
        width: 100%;
    }
}
</style>

<div class="ui container basic segment sticky top-header" style="background-color: white">
    <div class="ui three column stackable grid">
        <div class="column">
<a href="{{ path('sylius_shop_homepage') }}" title="На главную"><img src="{{ asset('bundles/syliusshop/SiteLogoRu.svg') }}" alt="Книги СФИ" class="ui image sfi-logo"/></a>

        </div>
        <div class="column">
            {{ sonata_block_render_event('sylius.shop.layout.header') }}
        </div>
        <div class="right aligned column">
            {{ render(url('sylius_shop_partial_cart_summary', {'template': '@SyliusShop/Cart/_widget.html.twig'})) }}
        </div>
    </div>
</div>
