<div class="ui basic segment">
    <div class="ui three column stackable grid">
        <div class="column">
<a href="{{ path('sylius_shop_homepage') }}" title="На главную"><img style="width: 250px" src="{{ asset('bundles/syliusshop/SiteLogoRu.svg') }}" alt="Книги СФИ" class="ui image"/></a>

        </div>
        <div class="column">
            {{ sonata_block_render_event('sylius.shop.layout.header') }}
        </div>
        <div class="right aligned column sticky">
            {{ render(url('sylius_shop_partial_cart_summary', {'template': '@SyliusShop/Cart/_widget.html.twig'})) }}
        </div>
    </div>
</div>
