{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}

    <div class="ui column stackable grid">
        <div class="ten wide column">
            <h1 style="margin: 24px 0" class="ui horizontal section header">О нас</h1>
            <div>
                <p>Издательство Свято-Филаретовского православно-христианского института в течение уже почти 30 лет выпускает книги христианской просветительской направленности или тематики, сотрудничая как с отечественными, так и с зарубежными авторами. Сфера основных интересов: христианская миссия и катехизация; богослужение и переводы; церковная проповедь; труды известных богословов и пастырей; история церкви, особенно XX века (преимущественно наследие новомучеников и исповедников Русской церкви); история церковных движений, братств и общин; учебно-методическая литература; христианское искусство.</p>
                <p>С момента основания издательство поддерживается православным Преображенским братством. Издательство ежегодно выпускает порядка 30 наименований книг. С 2007 г. регулярно выходит
                    <a target="_blank" href="https://sfi.ru/science/nauchnyj-zhurnal.html">научный журнал «Вестник СФИ»</a>.</p>
                <p>В ассортименте книжного магазина при СФИ имеются книги других издательств, а также необходимые материалы для обеспечения учебного процесса.</p>
            </div>
        </div>
    </div>
{% endblock %}
