{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}

    <div class="ui column stackable grid">
        <div class="ten wide column">
            <h1 style="margin: 24px 0" class="ui horizontal section header">О нас</h1>
            <div>
                <p>Издательство <a target="_blank" href="https://sfi.ru/">Свято-Филаретовского института</a> в течение уже почти 30 лет выпускает книги христианской просветительской направленности или тематики, сотрудничая как с отечественными, так и с зарубежными авторами. Сфера основных интересов: христианская миссия и катехизация; богослужение и переводы; церковная проповедь; труды известных богословов и пастырей; история церкви, особенно XX века (преимущественно наследие новомучеников и исповедников Русской церкви); история церковных движений, братств и общин; учебно-методическая литература; христианское искусство.</p>
                <p>С момента основания издательство поддерживается православным Преображенским братством. Издательство ежегодно выпускает порядка 30 наименований книг. С 2007 г. регулярно выходит
                    <a target="_blank" href="https://sfi.ru/science/nauchnyj-zhurnal.html">научный журнал «Вестник СФИ»</a>.</p>
                <p>В ассортименте книжного магазина при СФИ имеются книги других издательств, а также необходимые материалы для обеспечения учебного процесса.</p>
            </div>

            <h3>Адрес книжного магазина «Книги СФИ»</h3>

            <p style="display: none">
                <a href="https://yandex.ru/maps/org/knigi_sfi/134987640731/?ll=37.677029%2C55.771350&mode=search&sll=37.674401%2C55.771976&sspn=0.001491%2C0.000819&text=%D0%BA%D0%BD%D0%B8%D0%B3%D0%B8&utm_medium=mapframe&utm_source=maps&z=16.04">
                    Москва, метро Бауманская,<br/>
                    ул. Спартаковская 10/2
                </a>
            </p>

            <p>
                Пн-пт 13:00 – 20:30<br/>
                Сб 17:00-20:00<br/>
                Вс выходной
            </p>

            <p>
                <a href="mailto:books@sfi.ru">books@sfi.ru</a>
            </p>


            <br/>

            <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/213/moscow/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Москва</a><a href="https://yandex.ru/maps/213/moscow/?ll=37.678083%2C55.772156&mode=routes&rtext=55.772360%2C37.678914~55.771910%2C37.674211&rtt=pd&ruri=ymapsbm1%3A%2F%2Ftransit%2Fstop%3Fid%3Dstation__10095100~ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1NjczMTA4NhJH0KDQvtGB0YHQuNGPLCDQnNC%2B0YHQutCy0LAsINCh0L%2FQsNGA0YLQsNC60L7QstGB0LrQsNGPINGD0LvQuNGG0LAsIDEwLzIiCg1lshZCFW8WX0I%3D&utm_medium=mapframe&utm_source=maps&z=16.52" style="color:#eee;font-size:12px;position:absolute;top:14px;">Яндекс Карты</a><iframe src="https://yandex.ru/map-widget/v1/-/CCU6m-aPGA" width="100%" height="400" frameborder="0" allowfullscreen="true" style="position:relative;"></iframe></div>
        </div>
    </div>
{% endblock %}
