{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}

<div class="ui column stackable grid">
    <div class="ten wide column">
        <h1 style="margin: 24px 0" class="ui horizontal section header">О нас</h1>
        <div>
            <p>В издательстве СФИ публикуются книги по богословию, церковной истории, катехетике, переводы текстов православного богослужения, учебные и методические пособия, монографии преподавателей, сборники научных конференций института и <a href="https://sfi.ru/science/nauchnyj-zhurnal.html">научный журнал «Вестник СФИ»</a>.</p>
            <p>Издательство было основано в 1991 году в связи с требованием времени — необходимостью возвращать читателю бывшего СССР имена и тексты, которые до этого существовали в лучшем случае в самиздате. Сегодня <a href="https://sfi.ru/knigi-sfi/izdatiel-skiie-proiekty.html">в издательстве публикуется</a> как российская, так и переводная литература.</p>
        </div>
    </div>
</div>
{% endblock %}
