{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}

<div class="ui column stackable grid">
    <div class="ten wide column">
        <h1 style="margin: 24px 0" class="ui horizontal section header">Согласие на обработку персональных данных</h1>
        <div>

            <p>Оставляя свои данные на Сайте https://books.sfi.ru (далее – Сайт) путем заполнения полей онлайн-заявки (регистрации), и/или принимая условия публичной оферты, размещенной на Сайте, Покупатель выражает согласие на обработку, использование и хранение персональных данных Покупателя и их передачу оператору обработки персональных данных – Частному образовательному учреждению высшего образования «Свято-Филаретовский православно-христианский институт» (ОГРН 1037700259970) (далее – Оператор), которому принадлежит Сайт, в следующих целях: регистрации Покупателя на Сайте;  осуществление клиентской поддержки; получения Покупателем материалов и информирование Покупателя о предстоящих мероприятиях, организуемых Оператором; заключение с Покупателем договора и выполнение обязательств перед Покупателем.</p>
            <p>Согласие дается на обработку следующих персональных данных Покупателя: фамилия, имя, отчество; дата рождения; контактный телефон; адрес электронной почты; почтовый адрес.</p>
            <p>Персональные данные Покупателя хранятся исключительно на электронных носителях и обрабатываются с использованием автоматизированных систем, за исключением случаев, когда неавтоматизированная обработка персональных данных необходима в связи с исполнением требований законодательства.</p>
            <p>Обработка персональных данных Покупателя включает в себя следующие действия: сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (предоставление доступа), обезличивание, блокирование, удаление, уничтожение персональных данных.</p>
            <p>Согласие действует бессрочно с момента предоставления данных и может быть отозвано Покупателем путем подачи письменного заявления Оператору по электронному адресу books@sfi.ru. В случае отзыва Покупателем согласия на обработку персональных данных Оператор вправе продолжить обработку персональных данных без согласия Пользователя при наличии оснований, указанных в  Федеральном законе №152-ФЗ «О персональных данных».</p>
            <p>Передача Персональных данных третьим лицам может быть осуществлена исключительно по основаниям, предусмотренным законодательством Российской Федерации.</p>
            <p>Оператор имеет право вносить изменения в форму согласия в любое время. При внесении изменений в актуальной редакции указывается дата последнего обновления. Новая редакция вступает в силу с момента ее размещения. Действующая редакция всегда находится на странице по адресу: https://books.sfi.ru/policy</p>

        </div>
    </div>
</div>
{% endblock %}
