{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}

    <div class="ui column stackable grid">
        <div class="ten wide column">

            <h2 style="margin: 24px 0" class="ui horizontal section header">Способы доставки</h2>

            <h3 class="ui horizontal section header">Доставка по Москве</h3>

            <ul>
                <li>Доставка осуществляется курьером понедельник – пятница: с 10:00 до 21:00. Стоимость доставки – 250₽.</li>
                <li>Доставка в <a href="https://pickpoint.ru/postamats/" target="_blank">один из пунктов выдачи заказов</a> компании Pickpoint. Сроки и стоимость доставки определяются в зависимости от местонахождении пункта выдачи.</li>
            </ul>

            <p>Курьерская служба свяжется с вами по прибытии заказа в пункт самовывоза. Срок хранения заказа — 3 дня.</p>

            <h3 class="ui horizontal section header">Самовывоз из магазина</h3>

            <p>После подтверждения готовности вашего заказа вы можете забрать бесплатно.</p>

            <p>Адрес: <a href="https://yandex.ru/maps/-/CGD9VSYX" target="_blank">105062, Москва ул. Покровка, д. 29, нежилое помещение 2</a></p>

            <p>Понедельник – пятница:<br/>
            11:00 – 21:00, обед 13:00 – 14:00<br/>
            Суббота: 15:00 – 18:00<br/>
            Воскресенье: выходной</p>



            <h3 class="ui horizontal section header">Доставка по России</h3>

            <p>Доставка в один из пунктов выдачи заказов компании Pickpoint.</p>

            <p>Сроки и стоимость доставки определяются в зависимости от местонахождении пункта выдачи.</p>

            <p>Курьерская служба свяжется с вами по прибытии заказа в пункт самовывоза. Срок хранения заказа — 3 дня.</p>





            <h2 style="margin: 24px 0" class="ui horizontal section header">Способы оплаты</h2>


            <h3 class="ui horizontal section header">Оплата курьеру</h3>

            <p>При получении вашего заказа курьер примет оплату наличными.</p>

            <h3 class="ui horizontal section header">Оплата в магазине</h3>
            <p>Оплата возможна наличными или банковской картой.</p>


            <h3 class="ui horizontal section header">Оплата банковской картой на сайте</h3>

            <p>Оплата осуществляется в сервисе «Cloudpayments». К оплате принимаются карты платёжных систем Visa, Master card, Maestro и МИР.</p>
        </div>
    </div>
{% endblock %}
