{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}

	<div class="ui column stackable grid">
		<div class="ten wide column">

			<h2 style="margin: 24px 0" class="ui horizontal section header">Способы доставки</h2>

			<h3 class="ui horizontal section header">Доставка по Москве</h3>

			<ul>
				<li>Доставка СДЭК до пункта выдачи или до двери клиента. Стоимость доставки рассчитывается в соответствии с тарифами транспортной компании.</li>
			</ul>

			<p>Курьерская служба свяжется с вами по прибытии заказа в пункт самовывоза. Срок хранения заказа — 3 дня.</p>

			<h3 class="ui horizontal section header">Самовывоз из магазина</h3>

			<p>После подтверждения готовности вашего заказа вы можете забрать бесплатно.</p>

			<p style="display: none">Адрес:
				<a href="https://yandex.ru/maps/-/CCUFeLHHgC" target="_blank">105066, Москва ул. Спартаковская, д. 10/2 </a>
			</p>

			<p>Самовывоз из магазина:</p>
			<p>
				Понедельник–пятница: 13:00–20:30<br/>
				Суббота: 17:00–20:00<br/>
				Воскресенье: выходной
			</p>



			<h3 class="ui horizontal section header">Доставка СДЭК</h3>

			<p>Международная и междугородняя доставка до пункта выдачи или до двери клиента. Оплата возможна только банковской карты. Стоимость доставки рассчитывается в соответствии с тарифами транспортной компании.</p>


			<h2 style="margin: 24px 0" class="ui horizontal section header">Способы оплаты</h2>

			<h3 class="ui horizontal section header">Оплата в магазине</h3>
			<p>Оплата возможна наличными или банковской картой.</p>


			<h3 class="ui horizontal section header">Оплата банковской картой на сайте</h3>

			<p>Оплата осуществляется в сервисе «Cloudpayments». К оплате принимаются карты платёжных систем Visa, Master card, Maestro и МИР.</p>
		</div>
	</div>
{% endblock %}
