<div id="sylius-shipping-address">
    {% if form.shippingAddress is defined %}
        {% include '@SyliusShop/Checkout/Address/_addressBookSelect.html.twig' %}
        <h3 class="ui dividing header">{{ 'sylius.ui.shipping_address'|trans }}</h3>
        {% include '@SyliusShop/Common/Form/_address.html.twig' with {'form': form.shippingAddress, 'order': order} %}
    {% endif %}
    {% if form.postomat is defined %}
        <script type="text/javascript" src="//pickpoint.ru/select/postamat.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                PickPoint.open(pickPointCallback);
            });
        </script>
        {{ form_row(form.postomat) }}
    {% endif %}

    {{ sonata_block_render_event('sylius.shop.checkout.address.shipping_address_form', {'order': order}) }}
</div>

<div id="sylius-billing-address">
    {{ sonata_block_render_event('sylius.shop.checkout.address.billing_address_form', {'order': order}) }}
</div>
