<a href="/ru_RU/products/{{slug}}">
    <div style="position: relative; height: 264px; background-size: cover; background-position-x: 60%; background-image: url('{{ asset('bundles/syliusshop/carousel/' ~ slug ~ '.jpg') }}')">
        <div class="carouselItem-inner">
            <h3 class="carouselItem-title">{{ title }}</h3>
            <p class="carouselItem-subTitle">{{ subTitle }}</p>
        </div>
    </div>
</a>
