{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
<h2 style="margin-bottom: 24px" class="ui horizontal section header">Новые книги</h2>
{{ render(url('sylius_shop_partial_product_index_latest', {'count': 12, 'template': '@SyliusShop/Product/_horizontalList.html.twig'})) }}
{% endblock %}
