{% extends '@SyliusShop/Account/layout.html.twig' %}

{% block breadcrumb %}{% endblock %}

{% block subcontent %}
    <h1 class="ui header" style="margin-bottom: 40px">Приобретенные электронные товары</h1>
    <div class="ui four column doubling stackable grid container">
        {% for p in products %}
            {% set product = p.product %}
            <div class="column ui card">
                <h3 class="ui header">
                    {{product.name}}
                </h3>
                {% for downloadable in p.deliverables %}
                    <a target="_blank" href="/download/{{downloadable.id}}" class="ui tiny primary button">
                        <i class="download icon"></i>
                        {{downloadable.title}}</a>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
