{% extends '@SyliusShop/Account/layout.html.twig' %}

{% block breadcrumb %}{% endblock %}

{% block subcontent %}
    <h1 class="ui header">
        {{product.name}}
    </h1>
    {% for downloadable in deliverables %}
        <a target="_blank" href="/download/{{downloadable.id}}" class="ui tiny primary button" style="margin-bottom: 10px">
            <i class="download icon"></i>
            {{downloadable.title}}</a>
    {% endfor %}
{% endblock %}
