{% extends '@SyliusShop/Account/layout.html.twig' %}

{% block breadcrumb %}{% endblock %}

{% block subcontent %}
    <h1 class="ui dividing header">
        Мои электронные товары
        <div class="sub header">Электронные товары, ранее приобретенные вами</div>
    </h1>
    {% if productVariants|length == 0 %}
        <p>Вы еще не приобрели ни одного электронного товара.
            <br/>Посмотрите, например, на наши
            <a href="/ru_RU/taxons/category/ebooks">электронные книги</a>, там много интересного!</p>
    {% endif %}

    <div style="margin: -14px; margin-top: 40px">
        <div class="ui three column doubling stackable grid container">
            {% for p in productVariants %}
                {% include('card.html.twig') %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
