{% if product.imagesByType('main') is not empty %}
    {% set source_path = product.imagesByType('main').first.path %}
    {% set original_path = source_path|imagine_filter('sylius_shop_product_original') %}
    {% set path = source_path|imagine_filter(filter|default('sylius_shop_product_large_thumbnail')) %}
{% elseif product.images.first %}
    {% set source_path = product.images.first.path %}
    {% set original_path = source_path|imagine_filter('sylius_shop_product_original') %}
    {% set path = source_path|imagine_filter(filter|default('sylius_shop_product_large_thumbnail')) %}
{% else %}
    {% set original_path = '//placehold.it/400x300' %}
    {% set path = original_path %}
{% endif %}

{% if product.imagesByType('pdf') is not empty %}
    {% set preview_path = product.imagesByType('pdf').first.path %}
{% else %}
    {% set preview_path = '' %}
{% endif %}

<a title="Загляни под обложку" target="_blank" href="/media/image/{{ preview_path }}" class="ui fluid image">
    <img src="{{ path|replace({'http:': 'https:'}) }}" id="main-image" alt="{{ product.name }}"/>
    <svg style="width: 90px; float: right;" id="Слой_1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 89.59 41.25">
        <style>
            .st0 {
                fill: #ff8e18
            }
        </style><path class="st0" d="M3.73 31.89c.16-.97.86-1.57 1.42-1.87.62-.34 1.27-.43 1.91-.43.61 0 1.44.07 2.12.52.8.52.96 1.22.96 1.7 0 .9-.62 1.64-1.54 1.82v.02c.46.06.89.26 1.16.53.32.32.53.83.53 1.37 0 .78-.35 1.44-.89 1.86-.73.58-1.68.65-2.46.65-.73 0-1.61-.08-2.33-.62-.18-.13-.85-.7-1.06-1.76l1.67-.34c.06.19.22.62.46.85.28.26.76.43 1.24.43.54 0 .85-.16 1.03-.31.23-.2.38-.53.38-.88 0-.46-.25-.68-.4-.78-.32-.23-.65-.24-.97-.24h-1.1v-1.39h1.1c.3 0 .71-.07.95-.26.19-.16.34-.43.34-.78 0-.4-.22-.6-.37-.72-.24-.18-.52-.23-.86-.23-.59 0-1.02.2-1.28.47-.24.24-.37.58-.42.74l-1.59-.35zM11.47 33.52c.19-.83.73-1.25 1.06-1.44.48-.28 1.12-.38 1.91-.38 1.01 0 2.03.13 2.48 1.08.24.49.22 1.02.22 1.48v2.36c0 .49.07.95.18 1.32h-1.74c-.05-.24-.08-.56-.1-.97-.23.41-.78 1.09-2.05 1.09-.56 0-1.14-.14-1.54-.47-.38-.31-.62-.82-.62-1.37 0-.61.26-1.34 1.31-1.78.67-.28 1.76-.37 2.25-.4l.58-.02v-.13c0-.17-.01-.53-.18-.72-.23-.26-.68-.28-.86-.28-.25 0-.55.02-.8.18-.16.1-.36.29-.43.62l-1.67-.17zm3.4 1.53c-.6.05-1.2.11-1.54.53-.1.12-.19.3-.19.55 0 .26.13.44.26.54.17.13.42.19.66.19.36 0 .78-.16 1.02-.44.04-.04.32-.4.32-1.09v-.32l-.53.04zM23.17 31.82v1.26h-2.71v4.86h-1.79v-6.12h4.5zM29.27 31.82v6.12h-1.79v-4.86h-1.26c-.07 1.76-.08 3.27-.68 4.1-.32.44-.89.8-1.61.8-.16 0-.3-.01-.46-.05v-1.28h.14c.23-.01.58-.1.8-.5.19-.34.29-.89.35-2.22.02-.59.05-.88.05-1.66v-.46h4.46v.01zM36.23 37.94h-1.79v-2.12h-.89l-1.06 2.12h-1.93l1.4-2.46c-.29-.08-.64-.26-.86-.5-.24-.25-.43-.66-.43-1.22 0-.41.12-.9.42-1.26.53-.64 1.38-.67 1.86-.67h3.27v6.11h.01zm-2.68-4.92c-.28 0-.56.06-.74.2-.22.17-.26.4-.26.62 0 .29.11.52.25.64.23.19.64.19.83.19h.82v-1.66l-.9.01zM39.53 31.82v2.29h1.93v-2.29h1.79v6.12h-1.79v-2.57h-1.93v2.57h-1.79v-6.12h1.79zM46.55 31.82v2.85c0 .31-.02.52-.05.65.14-.24.24-.4.34-.54l1.67-2.51v-.46h1.79v6.12h-1.8v-2.95c0-.19.02-.44.05-.64-.08.2-.16.29-.35.58l-1.65 2.51v.5h-1.79v-6.12l1.79.01zM56.73 35.01c0 .52.42.94.94.94 9.82 0 17.81-7.99 17.81-17.81v-7.11l4.02 4.02c.37.37.96.37 1.33 0 .37-.37.37-.96 0-1.33L75.2 8.11a.945.945 0 0 0-.31-.21.889.889 0 0 0-.36-.07c-.12 0-.24.02-.36.07-.07.03-.14.08-.2.13-.03.03-.07.04-.1.07l-5.62 5.62c-.37.37-.37.96 0 1.33.37.37.96.37 1.33 0l4.02-4.02v7.11c0 8.79-7.15 15.93-15.93 15.93-.52 0-.94.42-.94.94z"/></svg>

</a>
{% if product.images|length > 1 %}

    {{ sonata_block_render_event('sylius.shop.product.show.before_thumbnails', {'product': product}) }}

{% endif %}
