{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

<span class="ui huge header">
	<div class="sylius-product-price" style="margin-top: 5px">
		{% if product.variants[0].channelPricings["default"].originalPrice > 0 %}
			<div class="discount">{{ product.variants[0].channelPricings["default"].originalPrice / 100 }}&nbsp;₽</div>
		{% endif %}
		<div id="product-price" class="{{ product.variants[0].channelPricings["default"].originalPrice > 0 ? 'discount-newprice' : ''}}">
			{{ money.calculatePrice(product|sylius_resolve_variant) }}
		</div>
	</div>
</span>
