{% block subject %}
    Ваш заказ оформлен
{% endblock %}

{% block body %}
    {% set url = order.channel.hostname is not null ? 'http://' ~ order.channel.hostname ~ path('sylius_shop_order_show', {'tokenValue': order.tokenValue, '_locale': order.localeCode}) : url('sylius_shop_order_show', {'tokenValue': order.tokenValue, '_locale': order.localeCode}) %}
    {% autoescape %}
        Благодарим вас за оформление покупки в нашем магазине!
        <br/><br/>
        Ваш заказ под номером {{ order.number }} был принят в исполнение.
        <br/>
        Если вы покупали электронные товары, то они уже доступны в вашей учетной записи в разделе «Электронные товары» или по ссылке <a href="https://books.sfi.ru/download">https://books.sfi.ru/download</a>
    {% endautoescape %}
{% endblock %}
