body.pushable .pusher {
    background-color: white;
}

#menu {
    border-radius: 0;
}

#footer {
    padding: 4em;
    margin-top: 4em;
}

.pusher {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.pusher > #footer {
    flex: 1;
}

.cart.popup {
    min-width: 300px;
}

.ui.monster.header {
    font-size: 3em;
}
.ui.unmargined.segments {
    margin: 0;
}

#searchbar {
    display: flex;
}

#searchbarTextField {
    flex-grow: 100;
}

#searchbarButtons {
    width: fit-content;
}

.ui.breadcrumb {
    margin-top: 10px;
}

.ui.large.menu {
    border-left: 0 !important;
    border-right: 0 !important;
}

.ui.breadcrumb a.section {
    font-size: 12px;
    color: #666;
}

.ui.breadcrumb a.section:hover {
    color: #00b0f0 !important;
}

@font-face {
    font-family: "Franklin";
    src: url("/bundles/_themes/psmb/sfi-theme/syliusshop/FranklinGothic-Book.woff")
        format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Franklin";
    src: url("/bundles/_themes/psmb/sfi-theme/syliusshop/FranklinGothic-Demi.woff")
        format("woff");
    font-weight: 700;
    font-style: normal;
}

.ui.bordered.image,
.ui.fluid.image img {
    border: 1px solid rgba(34, 36, 38, 0.15) !important;
}

@media (min-width: 768px) {
    .hide-for-medium-up {
        display: none !important;
    }
}
@media (max-width: 767px) {
    .hide-for-small-only {
        display: none !important;
    }
}

@media (min-width: 768px) {
    .mobile-nav__menu,
    .mobile-nav__toggle {
        display: none !important;
    }
}
.mobile-nav__menu {
    background-color: white;
    position: fixed;
    top: 0;
    right: -240px;
    width: 240px;
    height: 100%;
    overflow: auto;
    box-shadow: #ccc -2px 0 2px;
    transition: ease-in-out 0.3s;
}
.mobile-nav__content {
    transition: ease-in-out 0.3s;
}
.mobile-nav-is-open .mobile-nav__content {
    position: relative;
    transform: translateX(-240px);
}
.mobile-nav-is-open .mobile-nav__menu {
    transform: translateX(-240px);
}

.mobile-nav__toggle {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
    z-index: 1;
    transition: 0.4s linear transform;
}
.mobile-nav__toggle span {
    display: block;
    width: 24px;
    height: 4px;
    background-color: #00b0f0;
    border-radius: 3px;
    margin: 4px 0;
}

.mobile-nav-is-open .mobile-nav__toggle {
    transform: rotate(90deg);
}

.discount {
    position: relative;
    display: inline-block;
    color: rgba(0, 0, 0, 0.6) !important;
}
.discount::before {
    background-color: rgb(102, 102, 102);
    content: " ";
    height: 1px;
    position: absolute;
    top: calc(50% - 2px);
    left: -5px;
    right: -5px;
    transform: rotate(-10deg);
}

.discount-newprice {
    color: #ff8e18 !important;
}
